name: SLSA generic generator
on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      digests: ${{ steps.hash.outputs.digests }}

    steps:
      - uses: actions/checkout@v4

      # ========================================================
      #
      # Step 1: Build your artifacts.
      #
      # ========================================================
      - name: Build artifacts
        run: |
          # These are some amazing artifacts.
          echo "artifact1" > artifact1
          echo "artifact2" > artifact2

      # ========================================================
      #
      # Step 2: Upload build artifacts
      #
      # ========================================================
      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: my-artifacts       # Name of the artifact bundle
          path: artifact*          # Upload all files starting with "artifact"
          if-no-files-found: warn  # Warn if no files found
          retention-days: 7        # Keep artifacts for 7 days
          compression-level: 6     # Default compression
          overwrite: true          # Overwrite existing artifacts
          include-hidden-files: false

      # ========================================================
      #
      # Step 3: Add a step to generate the provenance subjects
      #
      # ========================================================
      - name: Generate subject for provenance
        id: hash
        run: |
          set -euo pipefail

          # List the artifacts the provenance will refer to.
          files=$(ls artifact*)
          # Generate the subjects (base64 encoded).
          echo "hashes=$(sha256sum $files | base64 -w0)" >> "${GITHUB_OUTPUT}"

  provenance:
    needs: [build]
    permissions:
      actions: read   # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.4.0
    with:
      base64-subjects: "${{ needs.build.outputs.digests }}"
      upload-assets: true # Optional: Upload to a new release
